@import "./components/index";
@import "./components/contacto";
@import "./components/acercade";
@import "./components/productos";
@import "./components/servicios";

@import "./base/media";


/*%flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divGrilla {
    background-color: cornflowerblue;
    border: 2px solid violet;
    @extend %flex;
}

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

.divGrilla {
    @include flex (flex, space-between, center);
}*/
